* {
  padding: 0;
  margin: 0;
}
@font-face
{
font-family: xujinglei;
src: url('msyh.ttf')
    ,url('msyh.eot'); /* IE9+ */
}
section, header, article {
	display: block;
}
body {
	width: 620px;
	height: 1600px;
	font-family:xujinglei;
	background: url(1.jpg) fixed;
	position: relative;
	left: 60px;
	top: 30px;
}
header {
	background-color: #33AECC;
	color: white;
	width: 540px;
	height: 90px;  
	padding: 40px;  
}
section,article {
	padding: 40px;
	background-color: white;
	padding-bottom: 10px;
	padding-top: 20px;
}
#one,#two,#three {
	float: left;
	width: 126.6px;	/*what the ****/
}
.font_info {
	font-size: 1px;
	color:#D2CBF1
}
.about {
	font-size: 5px;
}
.mid_left,.mid_right,.Education {
	position: relative;
	float: left;
}
.mid_left,.mid_right {
		width: 230px;
}
h1 {
	font-size: 25px;
}
#contact {
	float: right;
	font-size: 10px;
	color: #D2CBF1;
	padding-top: 40px;
}
#name {
	float: left;
}